@charset "UTF-8";
/*--------------------------------
全体にかかわる定義
---------------------------------*/
html {
  scroll-padding-top: 80px;
}

.img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Alata', sans-serif;
  color: #555555;
}

.loading {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
}

.loading img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

/*--------------------------------
  ヘッダー部分
  ---------------------------------*/
.header__inner {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  position: fixed;
  z-index: 60;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__nav {
  -webkit-box-shadow: 0px 11px 30px #E9EEFE;
          box-shadow: 0px 11px 30px #E9EEFE;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--logo {
  margin-left: 50px;
}

.header__nav--logo h1 {
  color: #3BB6D5;
  margin-bottom: initial;
  font-size: 26px;
}

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: initial;
  line-height: 54px;
}

.header__nav--list li {
  margin-right: 30px;
  font-size: 18px;
}

.header__nav--list li a {
  margin-top: 26px;
  color: #3BB6D5;
}

/*--------------------------------
  mv全体
  ---------------------------------*/
.swiper__area {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 2560px;
}

.swiper__area--backgroundimg {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.swiper-inner {
  margin: 0 auto;
  position: absolute;
  top: 30%;
  padding: 0 50px;
  max-width: 2560px;
  width: 100%;
}

.swiper-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.swiper-slide-img {
  width: 56.8%;
}

.swiper-slide-img img {
  display: block;
  max-width: 670px;
  width: 100%;
}

/*--------------------------------
  スワイパー部分
  ---------------------------------*/
/*最大幅の指定と中央寄せ*/
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

/*swiper.js*/
.swiper-container {
  max-width: 1180px;
  overflow: visible;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
  z-index: 10000;
  width: 20px;
  margin-top: -18px;
  background-image: none;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 27px;
    margin-top: -22px;
  }
}

/*mainvisual*/
.mainvisual {
  overflow-x: hidden;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  max-width: 1280px;
  width: 100%;
}

.swiper-slide-text {
  width: 41%;
  color: #555555;
}

.swiper-slide-text h2 {
  font-size: 52px;
  line-height: 1.38;
  margin-top: 20%;
}

.swiper-slide-text p {
  font-size: 16px;
  line-height: 1.18;
}

/*--------------------------------
  スワイパー部分 END
  ---------------------------------*/
/*--------------------------------
  about部分
  ---------------------------------*/
.about {
  margin-top: 190px;
}

.about__inner {
  max-width: 1070px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
}

.about__inner h2 {
  color: #3BB6D5;
  font-size: 42px;
  line-height: 1.38;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.about__box--part {
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 30px #E9EEFE;
          box-shadow: 0px 11px 30px #E9EEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 310px;
  height: 350px;
  width: 30%;
}

.about__box--part img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 180px;
  width: 100%;
}

.about__box--part p {
  display: block;
  font-family: Verdana;
  font-size: 16px;
  line-height: 1.18;
  padding: 30px 20px 20px 20px;
  max-width: 270px;
  text-align: left;
}

.about__text {
  color: #3BB6D5;
  line-height: 1.18;
  margin-top: 80px;
}

.about__logo {
  margin-top: 100px;
}

.about__logo--inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1080px;
}

.about__logo--img {
  width: 18%;
}

.about__logo--img img {
  width: 100%;
}

/*--------------------------------
タブ部分
---------------------------------*/
.activities {
  margin-top: 100px;
  color: #3BB6D5;
}

.activities h2 {
  color: #3BB6D5;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
}

.activities__inner {
  max-width: 1080px;
  padding: 0 50px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.activities__card {
  border: 2px solid #3BB6D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px;
}

.activities__card--left {
  width: 44%;
}

.activities__card--left h3 {
  font-size: 32px;
  line-height: 1.37;
}

.activities__card--left p {
  color: #555555;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 20px;
}

.activities__card--left a {
  display: inline-block;
  font-size: 16px;
  padding: 14px 37px;
  margin-top: 30px;
  color: white;
  background-color: #3BB6D5;
  border: 1px solid #3BB6D5;
  border-radius: 30px;
}

.activities__card--right {
  width: 50%;
}

.activities__card--right img {
  max-width: 410px;
  width: 100%;
}

.activities__card--btn {
  margin-top: 30px;
}

/*--------------------------------
  タブ部分
  ---------------------------------*/
.tab-panel {
  margin-top: 100px;
}

.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: initial;
  padding-left: initial;
  width: 600px;
}

.tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 13px 24px 13px 24px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.panel {
  display: none;
}

.tab.is-active {
  background: #3BB6D5;
  color: #FFF;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.panel.is-show {
  display: block;
}

.tab-A-border {
  border-left: 2px solid #3BB6D5;
  border-right: 2px solid #3BB6D5;
  border-top: 2px solid #3BB6D5;
}

.tab-B-border {
  border-right: 2px solid #3BB6D5;
  border-top: 2px solid #3BB6D5;
}

.tab-C-border {
  border-right: 2px solid #3BB6D5;
  border-top: 2px solid #3BB6D5;
}

/*--------------------------------
Flow部分
---------------------------------*/
.flow {
  margin-top: 100px;
}

.flow h2 {
  color: #3BB6D5;
  font-size: 42px;
  line-height: 1.38;
  text-align: center;
}

.flow__area {
  margin-top: 80px;
}

.flow__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.flow__area--boxes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow__area--box {
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 30px #E9EEFE;
          box-shadow: 0px 11px 30px #E9EEFE;
  max-width: 240px;
  width: 22%;
}

.flow__area--box img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}

.flow__area--box p {
  color: #3BB6D5;
  font-size: 22px;
  line-height: 1.36;
  margin-top: 8px;
  text-align: center;
}

.flow__area--box a {
  display: inline-block;
  font-size: 16px;
  padding: 9px 27px;
  color: white;
  background-color: #3BB6D5;
  border: 1px solid #3BB6D5;
  border-top-left-radius: 37px;
}

.flow__area--triangle {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 18px solid #3BB6D5;
  height: 0;
  width: 0;
}

.flow__area--label {
  text-align: right;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: #D5D5D5;
  height: 100vh;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 640px;
}

.modal__content img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
}

.modal__content p {
  font-family: Verdana;
  line-height: 1.18;
  padding: 30px 90px 10px 90px;
  text-align: center;
  margin-bottom: initial;
}

.model__content--step {
  color: #3BB6D5;
  font-size: 38px;
  line-height: 1.39;
  text-align: center;
}

.js-modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  font-size: 16px;
  padding: 35px 35px;
  color: white;
  background-color: #3BB6D5;
  border: 1px solid #3BB6D5;
  border-bottom-left-radius: 35px;
}

.js-modal-close-btn::before {
  content: '';
  border: 1px solid #ffffff;
  width: 35px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 33px;
  right: 16px;
}

.js-modal-close-btn::after {
  content: '';
  border: 1px solid #ffffff;
  width: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 33px;
  right: 16px;
}

.modal {
  z-index: 100;
}

/*--------------------------------
Member部分
---------------------------------*/
.member {
  margin-top: 180px;
}

.member__inner {
  padding: 0 10px;
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

.member__inner h2 {
  color: #3BB6D5;
  font-size: 42px;
  text-align: center;
}

.div-swiper-slide-card {
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 30px #E9EEFE;
          box-shadow: 0px 11px 30px #E9EEFE;
  margin-bottom: 40px;
  max-width: 220px;
  width: 100%;
}

.div-swiper-slide-card img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
}

.member-container {
  margin-top: 80px;
}

.swiper-container .swiper-slide {
  position: relative;
}

.swiper-container .swiper-slide .swiper-slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}

.member-slide {
  padding: initial;
}

.swiper-job {
  padding-top: 20px;
  color: #3BB6D5;
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
}

.swiper-name {
  color: #555555;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  padding-bottom: 30px;
}

/*--------------------------------
Q&A部分
---------------------------------*/
.qa {
  margin-top: 100px;
}

.qa__inner {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  padding: 0 50px;
}

.qa h2 {
  color: #3BB6D5;
  font-size: 42px;
  text-align: center;
}

/*====================================================================
.アコーディオン部分
====================================================================*/
.s_02 {
  margin-top: 80px;
}

.s_02 .accordion_one {
  -webkit-box-shadow: 0px 11px 30px #E9EEFE;
          box-shadow: 0px 11px 30px #E9EEFE;
  max-width: 867px;
  width: 100%;
  margin: 35px auto 0 auto;
}

.s_02 .accordion_one .accordion_header {
  font-family: Verdana;
  font-size: 18px;
  text-align: center;
  position: relative;
  z-index: +1;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_02 .accordion_one .accordion_header .i_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_02 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: relative;
}

.s_02 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_02 .accordion_one .accordion_header .i_box .one_i:before, .s_02 .accordion_one .accordion_header .i_box .one_i:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  background-color: #3BB6D5;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.s_02 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_02 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_02 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_02 .accordion_one .accordion_inner {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s_02 .accordion_one .accordion_inner .box_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 60px;
}

.s_02 .accordion_one .accordion_inner .box_one p {
  line-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s_02 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

.accordion_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion_header p {
  line-height: 60px;
  margin-bottom: initial;
}

.accordion_header-q {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 30px;
  max-width: 60px;
  width: 100%;
  background-color: #3BB6D5;
}

.accordion_header-q-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-left: 5%;
}

.box_one-a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 30px;
  max-width: 60px;
  text-align: center;
  width: 100%;
}

.box_one-a p {
  color: #3BB6D5;
  margin-bottom: initial;
}

.box_one-a-text {
  margin-left: 5%;
  font-family: Verdana;
  font-size: 18px;
}

/*--------------------------------
コンタクト部分
---------------------------------*/
.contact {
  background-image: url(../img/bg-shape-contact.png);
  background-position: center;
  background-size: cover;
  height: 460px;
  margin-top: 100px;
}

.contact__inner {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  padding: 0 50px;
}

.contact h2 {
  color: #3BB6D5;
  font-size: 42px;
  text-align: center;
}

.contact__message {
  margin-top: 80px;
  text-align: center;
}

.contact__message--01 {
  font-size: 32px;
  line-height: 1.37;
}

.contact__message--02 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.contact__btn {
  margin-top: 55px;
  text-align: center;
}

.contact__btn a {
  -webkit-box-shadow: 0px 11px 30px #E9EEFE;
          box-shadow: 0px 11px 30px #E9EEFE;
  color: #555555;
  font-size: 18px;
  padding: 14px 37px;
  margin-top: 30px;
  background-color: #FFE97E;
  border-radius: 30px;
}

/*--------------------------------
  mv全体
  ---------------------------------*/
.footer__text {
  padding: 30px 0;
  text-align: center;
}

.footer__text p {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: initial;
}

@media (min-width: 768px) {
  .header__nav--logo--sp {
    display: none;
  }
  #nav-drawer {
    display: none;
  }
}

@media (max-width: 1279px) {
  /*--------------------------------
ヘッダー部分
---------------------------------*/
  .header__nav--logo h1 {
    font-size: 20px;
  }
  .header__nav--list {
    margin-right: initial;
  }
  .header__nav--list li {
    font-size: 16px;
  }
  /*--------------------------------
mv部分
---------------------------------*/
  .swiper__area--backgroundimg {
    width: 100vw;
  }
  .swiper-slide-text h2 {
    font-size: 25px;
    text-align: center;
  }
  .swiper-slide-text p {
    text-align: center;
  }
}

/*--(max-width: 1279px)--*/
@media (max-width: 768px) {
  /*--------------------------------
CONTACT部分
---------------------------------*/
  .header__nav {
    display: none;
  }
  .header__nav--sp {
    -webkit-box-shadow: 0px 11px 30px #E9EEFE;
            box-shadow: 0px 11px 30px #E9EEFE;
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
  }
  .header__nav--logo--sp {
    margin: 0 auto;
  }
  .header__nav--logo--sp h1 {
    color: #3BB6D5;
    margin-bottom: initial;
    font-size: 20px;
    line-height: 46px;
  }
  .header__nav--list--sp {
    margin-top: 30px;
    margin-left: 10px;
  }
  .header__nav--list--sp a {
    color: #FFFFFF;
    font-size: 22px;
  }
  .header__nav--list--sp li {
    padding: 10px;
  }
  /*--------------------------------
mv部分
---------------------------------*/
  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: initial;
  }
  .swiper-slide-text {
    margin: 0 auto;
    max-width: 289px;
    width: 100%;
  }
  .swiper-slide-text h2 {
    margin-top: initial;
  }
  .swiper-slide-img {
    margin: 0 auto;
    max-width: 345px;
    width: 100%;
  }
  .swiper-inner {
    padding: initial;
  }
  .swiper-container {
    margin-top: 5vh;
  }
  /*--------------------------------
About部分
---------------------------------*/
  .about {
    margin-top: 55vh;
  }
  .about__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: initial;
  }
  .about__box--part {
    max-width: 310px;
    width: 100%;
    margin: 60px auto 0px auto;
  }
  .about__box--part p {
    max-width: 350px;
    text-align: center;
  }
  .about__logo--img {
    max-width: 150px;
    width: 100%;
  }
  .about__logo--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*--------------------------------
アクティビティ部分
---------------------------------*/
  .activities__inner {
    padding: 0 30px;
  }
  .activities__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px;
  }
  .activities__card--right {
    width: 100%;
    text-align: center;
  }
  .activities__card--left {
    width: 100%;
    text-align: center;
  }
  .tab {
    padding: 13px 8px 13px 8px;
  }
  .tab-panel {
    margin-top: 50px;
  }
  .tab-group {
    width: 100%;
  }
  /*--------------------------------
フロー部分
---------------------------------*/
  .flow__area--boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flow__area--triangle {
    border-top: 18px solid #3BB6D5;
    border-right: 21px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: none;
    margin-top: 15px;
  }
  .flow__area--box {
    width: 100%;
  }
  .modal__content {
    padding: initial;
    width: 90%;
  }
  .modal__content img {
    max-width: 200px;
  }
  .modal__content p {
    padding: 20px;
  }
  /*--------------------------------
メンバー部分
---------------------------------*/
  .member__inner {
    max-width: 220px;
    width: 100%;
  }
  /*--------------------------------
Q&A部分
---------------------------------*/
  .qa__inner {
    padding: 0 20px;
  }
  /*--------------------------------
CONTACT部分
---------------------------------*/
  .contact {
    height: 400px;
  }
  .contact__message {
    margin-top: 30px;
  }
  .contact__message--01 {
    font-size: 22px;
  }
  /*--------------------------------
ハンバーガーメニュー部分
---------------------------------*/
  #nav-drawer {
    position: relative;
  }
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-bottom: initial;
    vertical-align: middle;
  }
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background: #3BB6D5;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: -30px !important;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: -30px !important;
    left: 0;
    z-index: 9999;
    /*最前面に*/
    width: 40%;
    /*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;
    /*最大幅（調整してください）*/
    height: 100vh;
    background: #3BB6D5;
    /*背景色*/
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    /*左に隠しておく*/
  }
  /*チェックが入ったらもろもろ表示*/
  #nav-content:target ~ #nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
  }
  #nav-content:target {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示（右へスライド）*/
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  .close-btn::before {
    content: '';
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 35px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
  }
  .close-btn::after {
    content: '';
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 35px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
  }
}

/*--(max-width: 768px)--*/
/*# sourceMappingURL=style.css.map */
